body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.form-error-message {
  font-size: 12px;
  font-weight: 150;
  margin-top: 16px;
  color: red;
}
